* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(180deg, #FFFFFF 14%, #FCEFE6 0%);
}

p {
    color:#707070;
}

img {
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
    display: block;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.form-control {
    border: 0 !important;
    box-shadow: none !important;
    background-color:rgba(0,0,0,0) !important;
}

.logo {
    padding-top: 5%;
    width: 45vw;
    height: 45vw;
    margin: auto;
}

#loginForm {
    padding-top: 25%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 25%;
    font-size: 20px;
    font-size: 5vw;
    color:#707070
}

#loginForm #loginButton {
    background-color: #EE6851;
    border-color: #EE6851;
    font-size: 5vw;
}


.helper {
    display: inline-grid;
    align-items: center;
    grid-template-columns: 40vw 40vw;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 4vw;
}